.searchbar-app{
  padding:0 100px;
}
.search-bar{
  width:300px;
  margin:0 auto
}
.search-bar input{
  width:100%;
  padding:10px;
  border: 3px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
}
ul{
  list-style-type: none;
}
.suggestion{
  padding:10px;
  cursor: pointer;
}
.suggestion:hover{
  background-color: #f0f0f0;
}